@model IEnumerable<ProductStatsViewModel>

<h4 class="text-center mt-4">Топ 10 товаров</h4>
<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Category?.Name</td>
                <td>@item.TotalQuantity</td>
            </tr>
        }
    </tbody>
</table>
